{% extends 'base.html.twig' %}

{% block stylesheet %}
	<link href="{{ asset('styles/cell.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="container text-center">
		<div class="row">
			<div class="col-12 mt-5">
				{% if grid.hasWinner %}
					<p>{{ 'app.ingame.winner_is'|trans }}</p>
					<img src="{{ asset('images/' ~ grid.getWinner ~ '.png') }}" class="card-img-top img-cell cell-turn" alt="{{ grid.getWinner }} symbol">
				{% elseif grid.isOver %}
					<p>{{ 'app.ingame.no_winner'|trans }}</p>
				{% else %}
					<p>{{ 'app.ingame.player_turn'|trans }}</p>
					<img src="{{ asset('images/' ~ grid.playerTurn ~ '.png') }}" class="card-img-top img-cell cell-turn" alt="{{ grid.playerTurn }} symbol">
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-12 mt-5">
				{% for i in 2..0 %}
					<div class="line">
						{% for j in 0..2 %}
							<div class="cell" style="width: 100px; height: 100px">
								{% if grid.getCellByPosition(i, j).symbol == 'cross' %}
									<img src="{{ asset('images/cross.png') }}" class="card-img-top grow" alt="question mark">
								{% elseif grid.getCellByPosition(i, j).symbol == 'circle' %}
									<img src="{{ asset('images/circle.png') }}" class="card-img-top grow" alt="question mark">
								{% else %}
									{% if grid.hasWinner or grid.isOver %}
										<img src="{{ asset('images/cell.png') }}" class="card-img-top grow" alt="question mark">
									{% else %}
										<a href="{{ path('app_morpion_play', {'cell': i ~ '-' ~ j}) }}">
											<img src="{{ asset('images/cell.png') }}" class="card-img-top grow" alt="question mark">
										</a>
									{% endif %}
								{% endif %}
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="row justify-content-center mt-5">
			<div class="col-2">
				{% if grid.hasWinner or grid.isOver %}
					<a class="btn btn-dark" href="{{ path('app_morpion_initialize') }}">{{ 'app.ingame.button_retry'|trans }}</a>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
